streamlit
pandas
numpy
scikit-learn
matplotlib
seaborn
plotly
statsmodels
# pmdarima requires --no-build-isolation when installing via pip
pmdarima
python-dotenv
configparser
google-generativeai
dill
